@import url('https://fonts.googleapis.com/css?family=Roboto');

.card{
    background-color: #9b1313;
    padding: 10px;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    .content_card{
        h3{
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                text-decoration: underline;
                transition: 0.2s; 
            }
        }
        p{
            color: #ffffff;
            padding-bottom: 10px;
        }
        input{
            position: relative;
            bottom: 1rem;
            background-color: #ffffff;
            border: none;
            padding: 7px 15px 7px 15px;
            font-size: 1.5rem;
        }
    }
}
