@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0;
    list-style: none;
    width: auto;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}
.focus{
    width: 100vw;
    height: 85vh;
    background-size: cover;
}
.focus-item-1{
    background: url('../img/creed-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.focus-item-2{
    background: url('../img/aquaman2.jpg');
    background-repeat: no-repeat;

}
.focus-item-3{
    background: url('../img/bumblebee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.focus-title{
    z-index: 10;
    position: absolute;
    left: 10%;
    top:50%;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    padding: 10px;
    color: #9b1313;
    .block-reveal-animation__element{
        font-family: unset;
        font-weight: 500;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            height: 1.5rem;
            background-color: #ffffff;
            z-index: -1;
        }
    }
}

