html,body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
#App {
    /* Give app full page to work with */
    height: 100vh;   
  }
  
  #page-wrap {
    /* Prevent sidebar from showing a scrollbar on page */
    overflow-x: hidden;
    height: 100vh;
    background-color: #ffffff;
  }
  
  /* Individual item */
  
  .bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    font-size: 1.8rem;
    transition: color 0.2s;
    &:hover {
      color: white;
    }
  }
  
  /* Change color on hover */  
  /* Position and sizing of burger button */
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px;
  }
  
  /* Color/shape of burger icon bars */
  
  .bm-burger-bars {
    background: #9b1313;
  }
  
  /* Position and sizing of clickable cross button */
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  
  .bm-cross {
    background: #ffffff;
  }
  
  /* General sidebar styles */
 
    .bm-menu {
      background: #9b1313;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

  
  
  /* Morph shape necessary with bubble or elastic */
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .top-week{
    width: auto;    
    h2{
      z-index: 5;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        height: 100%;
        width: 0.6rem;
        background-color: #9b1313;
    }
  }
}